<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<style>

  /*row 내에 있는 div에게 보더를 추가.*/
  .row>div {
    border: 1px solid black;
  }

  /*https://velog.io/@anna/css-sticky-sticky-sidebar-example*/
  /* // 좌측 본문 */
  .article {
    display: inline-block;
  }

  /* // 좌측 사이드바 */
  .side {
    float: left;
    position: sticky;
    top: 50px;
    margin: 10px;
  }
</style>
<main layout:fragment="content" class="container my-2">
  <div class="side" >
    <button type="button" class="btn btn-light">수주관리</button><br>
    <button type="button" class="btn btn-light">수주조회</button><br>
    <button type="button" class="btn btn-light">외주관리</button><br>
    <button type="button" class="btn btn-primary">운송</button><br>
    <button type="button" class="btn btn-light">상품관리</button><br>
    <button type="button" class="btn btn-light">재고현황</button><br>
  </div>
123
  <div>
    <button type="button" class="btn btn-light">운송 현황</button>
  </div>
</main>
</html>


