<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<main layout:fragment="content" class="container my-2">
  <style>
    /* row 내에 있는 div에게 보더를 추가. */
    .row > div {
      border: 1px solid black;
    }

    /* 좌측 본문 */
    .article {
      display: inline-block;
    }

    /* 좌측 사이드바 */
    .side {
      float: left;
      position: sticky;
      top: 50px;
      margin: 10px;
    }
  </style>

  <form action="">
    <div class="container text-center">
      <!-- 거래처 선택과 품목조회 버튼을 왼쪽 정렬 -->
      <div class="d-flex justify-content-start my-2">
        <button type="button" class="btn btn-light">거래처 선택</button>
        <button type="button" class="btn btn-light ms-2" data-bs-toggle="modal" data-bs-target="#modalViewProduct">품목조회</button>
      </div>

      <div class="row">
        <div class="col-sm-2">서류코드</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">작성일자</div>
        <div class="col-sm-2"></div>
      </div>

      <!-- 품번, 품목코드, 품목명, 수량, 비고 항목 제목 추가 -->
      <div class="row">
        <div class="col-sm-2">품번</div>
        <div class="col-sm-2">품목코드</div>
        <div class="col-sm-3">품목명</div>
        <div class="col-sm-2">수량</div>
        <div class="col-sm-3">비고</div>
      </div>

      <!-- 반복되는 데이터 시작 (두 번째 행부터) -->
      <div class="row">
        <div class="col-sm-2"><input type="text" class="form-control" value="P001" /></div>
        <div class="col-sm-2"><input type="text" class="form-control" value="M001" /></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="제품 A" /></div>
        <div class="col-sm-2"><input type="number" class="form-control" value="100" /></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="비고 A" /></div>
      </div>

      <div class="row">
        <div class="col-sm-2"><input type="text" class="form-control" value="P002" /></div>
        <div class="col-sm-2"><input type="text" class="form-control" value="M002" /></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="제품 B" /></div>
        <div class="col-sm-2"><input type="number" class="form-control" value="200" /></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="비고 B" /></div>
      </div>

      <div class="row">
        <div class="col-sm-2"><input type="text" class="form-control" value="P003" /></div>
        <div class="col-sm-2"><input type="text" class="form-control" value="M003" /></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="제품 C" /></div>
        <div class="col-sm-2"><input type="number" class="form-control" value="300" /></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="비고 C" /></div>
      </div>
      <!-- 반복되는 데이터 끝 -->

      <!-- 납기 요청 일자 버튼을 추가 -->
      <div class="d-flex justify-content-start my-2">
        <button type="button" class="btn btn-light">납기요청일자</button>
      </div>

      <!-- 발주요청 버튼과 취소 버튼을 오른쪽 끝으로 배치 -->
      <div class="d-flex justify-content-end my-2">
        <button type="button" class="btn btn-primary me-2">발주요청</button> <!-- 발주요청 버튼 -->
        <button type="button" class="btn btn-danger">취소</button> <!-- 취소 버튼 -->
      </div>
    </div>
  </form>

  <!-- 품목조회버튼과 연결되는 모달창 -->
  <div class="modal" id="modalViewProduct">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1>"거래처 명"</h1>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="container text-center">
              <div class="row">
                <div class="col-sm-1">선택</div>
                <div class="col-sm-2">품번</div>
                <div class="col-sm-2">품목코드</div>
                <div class="col-sm-3">품목명</div>
                <div class="col-sm-2">수량</div>
                <div class="col-sm-2">비고</div>
              </div>

              <!-- 반복되는 데이터 -->
              <div class="row">
                <div class="col-sm-1">
                  <input type="checkbox" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="P001" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="M001" />
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" value="제품 A" />
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" value="100" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="비고 A" />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1">
                  <input type="checkbox" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="P002" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="M002" />
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" value="제품 B" />
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" value="200" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="비고 B" />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1">
                  <input type="checkbox" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="P003" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="M003" />
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" value="제품 C" />
                </div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" value="300" />
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" value="비고 C" />
                </div>
              </div>
              <!-- 반복되는 데이터 끝 -->

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- 선택 확정과 취소 버튼 추가 -->
          <button type="button" class="btn btn-primary me-2" data-bs-dismiss="modal">선택 확정</button> <!-- 선택 확정 버튼 (파란색) -->
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button> <!-- 취소 버튼 (빨간색) -->
        </div>
      </div>
    </div>
  </div>

</main>
</html>
