<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<main layout:fragment="content" class="container my-2">


    <form th:action="@{/order/search}" method="get">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-5">
                    <div class="input-group mb-3">
                        <input type="text" name="searchTerm" class="form-control">  <!-- 검색어 입력 -->
                        <button class="btn btn-success" type="submit">검색</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


            <div class="container my-4">
                <!-- 테이블을 div로 구현, 한 줄로 표시 -->
                <div class="row border d-flex flex-nowrap">
                    <div class="col border p-3">
                        <div>인덱스 번호</div>
                    </div>
                    <div class="col border p-3">
                        <div>발주서번호</div>
                    </div>
                    <div class="col border p-3">
                        <div>발주 상태</div> <!-- 새로 추가된 발주 상태 컬럼 -->
                    </div>
                    <div class="col border p-3">
                        <div>발주 도착지</div>
                    </div>

                    <div class="col border p-3">
                        <div>발주요청일</div>
                    </div>
                    <div class="col border p-3">
                        <div>견적서</div>
                    </div>
                </div>

                <th:block th:each="row, stat : ${result}">
                    <div class="row d-flex flex-nowrap" style="border-top: none; border-bottom: none;">
                        <div class="col border p-3">
                            <div th:text="${stat.index + 1}"></div> <!-- 인덱스 번호 -->
                        </div>
                        <div class="col border p-3">
                            <div name="orderNo" th:text="${row.orderNo}"></div> <!-- 발주서번호 -->
                        </div>
                        <div class="col border p-3">
                            <div th:text="${row.orderStatus}"></div> <!-- 발주 상태 추가 -->
                        </div>
                        <div class="col border p-3">
                            <div th:text="${row.dstn}"></div> <!-- 발주 도착지 -->
                        </div>

                        <div class="col border p-3">
                            <div th:text="${row.orderReqDate}"></div> <!-- 발주요청일 -->
                        </div>
                        <div class="col border p-3">
                            <a th:href="@{{domain}/quoChk/{orderNo}/{key}(orderNo=${row.orderNo},key=${key},domain=${domain})}" target="_blank" class="btn btn-primary w-100 m-1">견적서</a>
                            
                            <th:block th:if="${row.orderStatus == '발주대기'}">
                                <button type="button" class="btn btn-primary w-100 m-1 order_click" th:data-orderNo="${row.orderNo}" data-type="1">확정</button>
                                <button type="button" class="btn btn-primary w-100 m-1 order_click" th:data-orderNo="${row.orderNo}" data-type="2">취소</button>
                            </th:block>
                            
                        </div>
                    </div>
                </th:block>
            </div>

    <!-- 견적서 모달 -->
    <div class="modal fade" id="modalViewEstimate" tabindex="-1" aria-labelledby="modalViewEstimateLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>발주 조회 - 견적서 상세화면</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container text-center">


                        <!-- 발주 확정/취소 버튼 (왼쪽 정렬) -->
                        <div class="row mb-3">
                            <div class="col-sm-12 text-start">
                                <button type="button" class="btn btn-primary me-2">발주 확정</button>
                                <button type="button" class="btn btn-danger">발주 취소</button>
                            </div>
                        </div>

                        <!-- 테이블 헤더 -->
                        <div class="row border-bottom">
                            <div class="col-sm-2 border">품번</div>
                            <div class="col-sm-2 border">품목코드</div>
                            <div class="col-sm-2 border">품목명</div>
                            <div class="col-sm-2 border">수량</div>
                            <div class="col-sm-2 border">상태값</div>
                            <div class="col-sm-2 border">비고</div>
                        </div>

                        <!-- 예시 데이터 (테이블 형식) -->
                        <div class="row">
                            <div class="col-sm-2 border">P-001</div>
                            <div class="col-sm-2 border">M-001</div>
                            <div class="col-sm-2 border">제품 A</div>
                            <div class="col-sm-2 border">100</div>
                            <div class="col-sm-2 border">진행중</div>
                            <div class="col-sm-2 border">상세 내용</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 border">P-002</div>
                            <div class="col-sm-2 border">M-002</div>
                            <div class="col-sm-2 border">제품 B</div>
                            <div class="col-sm-2 border">200</div>
                            <div class="col-sm-2 border">완료</div>
                            <div class="col-sm-2 border">상세 내용</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- 모달 하단 버튼 -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $( () => {
            $(".order_click").on("click", (e) => {
                var orderNo = $(e.target).attr("data-orderNo");
                var type = $(e.target).attr("data-type");
                var _csrf = $("meta[name='_csrf']").attr("content");
                var params = {_csrf, orderNo, type};
                console.log(params);

                $.ajax({
                    url: '/order/edit',
                    method: 'POST',
                    data: params
                }).done(res => {
                    if (res.status) {
                        alert("발주 수정이 완료 하였습니다.");
                        window.location.reload();
                    } else {
                        alert("발주 수정 중 오류 발생 하였습니다.");
                    }
                }).fail(error => {
                    console.log(error);
                });

            });
        } );

        document.addEventListener('DOMContentLoaded', function() {
            const modalButton = document.querySelectorAll('.modal-button');  // 여러 개의 버튼이 있을 수 있으므로 querySelectorAll로 수정
            modalButton.forEach(button => {
                button.addEventListener('click', function(event) {
                    let parentDivs = [];
                    let currentElement = event.target;

                    // 버튼을 클릭한 모달을 기준으로 상위 div들을 순차적으로 탐색
                    while (currentElement) {
                        if (currentElement.tagName === 'DIV') {  // DIV 요소만 찾기
                            parentDivs.push(currentElement);
                        }
                        currentElement = currentElement.parentElement;
                    }



                    // parentDivs 배열에서 1번째 배열의 2번 div의 텍스트 가져오기
                    if (parentDivs.length > 1) {
                        const secondParentDiv = parentDivs[1]; // 두 번째 div
                        const secondChildDiv = secondParentDiv.querySelectorAll('div')[2]; // 두 번째 자식 div


                            const text = secondChildDiv.innerText || secondChildDiv.textContent;
                            console.log(text);

                        var params = { orderId: text };

                        $.ajax({
                            url: '/estimate',  // 요청 URL
                            method: 'GET',     // GET 방식
                            data: params       // 데이터를 쿼리 파라미터로 보냄
                        }).done(data => {
                            console.log(text); // 서버에서 응답한 데이터를 출력
                            // $("#supplierModal").modal("show"); // Modal을 표시하는 코드
                        }).fail(error => {
                            console.log(error); // 에러 발생 시 출력
                        });





                    } else {
                        console.log("1번째 배열이 없거나 상위 div가 충분하지 않습니다.");
                    }
                });
            });
        });



    </script>

</main>


</html>
