<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<main layout:fragment="content" class="container my-2">
    <link rel="stylesheet" href="/css/stock/stock.css">
    <script src="/js/stock/stock.js"></script>

    <div class="container-fluid">

        <!-- 재고 섹션 -->
        <div class="container section-container p-4 border rounded shadow-sm">
            <div class="text-center">
                <h2>재고량</h2>
                <form th:action="@{/stock}" method="get">
                    <div class="row align-items-center mb-3">
                        <div class="col-sm-2">
                            <select class="form-select" name="category" id="category">
                                <option value="0">전체</option>
                                <option value="1">품목코드</option>
                                <option value="2">품목명</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control" name="search" id="search" />
                                <button class="btn btn-success" type="submit">검색</button>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3 text-end">
                            <button type="button" class="btn btn-primary" id="stockEdit">수정</button>
                            <button type="button" class="btn btn-danger" id="stockDel">삭제</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
            	<form th:action="@{/}" method="post"></form>
			    <table class="table table-bordered text-center">
			        <thead class="table-light">
			            <tr>
                            <th><input type="checkbox" name="cb_all" id="cb_all"/></th>
			                <th>품목코드</th>
			                <th>품목명</th>
			                <th>재고량</th>
			            </tr>
			        </thead>
			        <tbody id="data-container">
					    <tr th:if="${result == null or result.isEmpty()}">
					        <td colspan="4">재고 데이터 없음</td>
					    </tr>
					    <tr th:each="stock : ${result}">
					    	<th>
                                <input type="checkbox" name="cb" class="cb" />
                            </th>
					        <td th:text="${stock.itemCode}"></td>
					        <td th:text="${stock.name}"></td>
					        <td><input type="text" name="qty" class="form-control form-control-plaintext text-center stockQty"  th:value="${stock.qty}" readonly /></td>
					    </tr>
					</tbody>
                </table>
			</div>

        </div>
    </div>

</main>

</html>
