<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ERP</title>
	<!-- Bootstrap CSS 링크 추가 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<aside th:fragment="aside" class="offcanvas offcanvas-start" id="side">
	<div class="offcanvas-header">
		<h1 class="offcanvas-title">ERP</h1>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
	</div>
	<div class="list-group list-group-flush">
	
		<!-- START - 인사 관리 메뉴 항목 -->
		<a class="list-group-item list-group-item-action" href="#!" data-bs-toggle="collapse" data-bs-target="#hr-submenu" aria-expanded="false" aria-controls="hr-submenu">인사 관리</a>
		
		<!-- 인사 관리 하위 메뉴 (Collapse) -->
		<div class="collapse" id="hr-submenu">			
			<a class="list-group-item list-group-item-action ps-4" href="/user/list">사원정보</a>
		</div>
		<!-- END - 인사 관리 메뉴 항목 -->
		
		

		<!-- START - 거래처 관리 메뉴 항목 -->
		<a class="list-group-item list-group-item-action" href="#!" data-bs-toggle="collapse" data-bs-target="#biz-submenu" aria-expanded="false" aria-controls="biz-submenu">거래처 관리</a>
		
		<!-- 거래처 관리 하위 메뉴 (Collapse) -->
		<div class="collapse" id="biz-submenu">            
		    <a class="list-group-item list-group-item-action ps-4" href="/biz/list">거래처 관리 화면</a>
		</div>
		<div class="collapse" id="biz-submenu">            
		    <a class="list-group-item list-group-item-action ps-4" href="/biz/create">창고 거래처 등록</a>
		</div>
		<div class="collapse" id="biz-submenu">            
		    <a class="list-group-item list-group-item-action ps-4" href="/biz/detail">창고 거래처 상세정보</a>
		</div>
		<!-- END - 거래처 관리 메뉴 항목 -->

			
		<!-- START - 발주관리 메뉴 및 하위 항목 -->
		<a class="list-group-item list-group-item-action" href="#!" data-bs-toggle="collapse" data-bs-target="#order-submenu" aria-expanded="false" aria-controls="hr-submenu">발주 관리</a>
				
		<div class="collapse" id="order-submenu">			
			<a class="list-group-item list-group-item-action ps-4" href="/order/orderRequest">발주 요청</a>
		</div>
		<div class="collapse" id="order-submenu">			
			<a class="list-group-item list-group-item-action ps-4" href="/order/orderInquiry">발주 조회</a>
		</div>
		
		<!-- 3차
		<div class="collapse" id="order-submenu">			
			<a class="list-group-item list-group-item-action ps-4" href="/order/deliveryStatus">물품 관리</a>
		</div>		
		 -->
		 
		<!-- END - 발주관리 메뉴 및 하위 항목 -->
 		
        <a class="list-group-item list-group-item-action" href="#!" data-bs-toggle="collapse" data-bs-target="#stock-submenu" aria-expanded="false" aria-controls="stock-submenu">입출고 관리</a>
        <div class="collapse" id="stock-submenu">            
            <a class="list-group-item list-group-item-action ps-4" href="/stock">재고 관리</a>
            <a class="list-group-item list-group-item-action ps-4" href="/income">입고 관리</a>
        </div>
       
	</div>
</aside>

<!-- Bootstrap JS 링크 추가 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
